body {
  font-family: "PT Sans", sans-serif
}
h1 {
  text-align: center
}
textarea {
  width: 100%
}
.parallax {
  background-color: #333333;
  background-image: url(../../../Resources/background.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  padding: 100px 0
}
.container {
  background-color: #FFF;
  border-radius: 15px
}