label {
    font-family: "PT Sans", sans-serif
}
h2 {
    text-align: center
}
textarea {
    width: 100%
}

#home { 
    background: url(../../../Resources/background.jpg) 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}

.container{
	background-color: #FFF;
	border-radius: 15px;
}