body {
    background-color: #fff
}
#content {
    color: #333;
    margin: 0 15% 0 10%;
    /* text-align: justify; */
    font-family: Arial, sans-serif
}
#content > h3 {
    margin-top: -10px;
    margin-bottom: 20px
}
#content > p {
    font-size: 18px
}
#disqus_thread {
    margin: 0 15% 0 10%
}

#home { 
    background: url(../../../Resources/background.jpg) 50% 0 fixed; 
    max-width:100%;
    max-height:100%;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}

.container{
	background-color: #FFF;
	border-radius: 15px;
}