doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    
    block includeFiles
      // link(rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css")
      // link(rel="stylesheet" href="/libs/bootstrap/css/bootstrap-theme.min.css")
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
  body
    block content
